.lot {
    position: relative;
    width: 75vw;
    height: auto;
    padding: 0px;
    margin: 0px;
}

.lot img {
    display: block;
    padding: 0px;
    margin: 0px;
    height: 100%;
    width: 100%;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 0px;
    margin: 0px;
    height: 100%;
    width: auto;
}

.space {
    position: absolute;
    display:block;
    text-align: left;
    padding: 0px;
    margin: 0px;
    color: black;
}

.space h1 {
    margin: 0;
    align-content: center;
    vertical-align: middle;
    height: 100%;
    width: 100%;
}

h2 {

}